html{
background:url('exemplu1.png');
 background-repeat: no-repeat;
 background-position: center center; /*horizontal
and vertically centered*/
 background-size: cover;
 min-height: 100%;
}
h1 {
text-align: center;
 color: black;
}
input{
margin-top: 1em;
 outline: none;
 padding: 1.25em;
 border: none;
 min-width: 30%}
form{
	text-align: center;
	min-width: 80%;
}
#mytable{
position:absolute;
top:50%;
left:50%;
}